*{
    margin: 0;
    padding: 0;
}

body {
 background-color: #8661C1;
 text-align: center;
}

.container {
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}

.game {
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow:  0 0 1rem;
    background-color:#EFBCD5;
     font-size: 3rem;      /* size of X / O */
  color: black;         /* text color */
  font-weight: bold;
}
#reset{
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: bold;
     background-color:#EFBCD5;
   
}